@CHARSET "ISO-8859-1";
.mms-sidebar{
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #FAFAFA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.hero-unit {
	width: 60px !important;
	height: 1000px !important;
	
}